@import "header.css";
@import "slider.css";
@import "body.css";
@import "footer.css";
@import "signup-page.css";

body{
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FBF9F9;
}
    
.text-yellow{
    color: #FFC82E;
}
.text-hover{
    cursor: pointer;
}
.text-hover:hover{
    text-decoration: underline;
}
.item-hover:hover{
    border: 1px solid #FFC82E;
    filter: drop-shadow(0 0 0.5rem #FFC82E);
}
.item-hover .icon-drop{
    visibility: hidden;
    top: 2rem;
    right: 1.5rem;
    cursor: pointer;
}
.item-hover:hover .icon-drop{
    visibility: visible;
}